<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <!-- 1.在遍历过程中，不使用索引号 -->
      <ul>
        <li v-for="item in names">{{item}}</li>
      </ul>

      <!-- 2.在遍历过程中，获取索引号 -->
      <ul>
        <li v-for="(item, index) in names">{{index+1}}.{{item}}</li>
      </ul>
    </div>

    <script src="../js/vue.js"></script>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          names: ['浮幻', 'pink', 'why']
        },
        methods: {}
      })
    </script>
  </body>
</html>
