[submodule "learn-web"]
	path = learn-web
	url = https://github.com/coder-hxl/learn-web
[submodule "learn-nodejs"]
	path = learn-nodejs
	url = https://github.com/coder-hxl/learn-nodejs
[submodule "learn-database"]
	path = learn-database
	url = https://github.com/coder-hxl/learn-database
[submodule "learn-data-structures-and-algorithms"]
	path = learn-data-structures-and-algorithms
	url = https://github.com/coder-hxl/learn-data-structures-and-algorithms
