/* #app {
	display: flex;
	justify-content: center;
} */

table {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
}

th,td {
	padding: 8px 15px;
	border: 1px solid black;
}

th {
	background-color: #f7f7f7;
}

.counter {
	padding: 0 6px;
}