.header{
    width: 200px;
    height: 200px;
    background-color: pink;
    a {
        color: red;
        // 有伪类、交集选择器、伪元素 我们内层选择器的前面要加 & 符号
        &:hover{
            color: blue;
        }
    }
}

.nav{
    .logo{
        color: green;
    }
    &::before{
        content: '';
    }
}
