/* 把所有标签的内外边距清零 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* em 和 i 斜体的文字不倾斜 */

em,
i {
    font-style: normal
}


/* 起掉 li 的小圆点 */

li {
    list-style: none
}

img {
    /* border: 0; 照顾低版本浏览器 如果图片外面包含了链接会有边框的问题 */
    border: 0;
    /* 取消图片底侧有空白缝隙的问题 */
    vertical-align: middle
}

button {
    /* 当鼠标经过 button 按钮的时候，鼠标变成小手 */
    cursor: pointer
}

a {
    color: #666;
    /* 取消下划线 */
    text-decoration: none
}

a:hover {
    color: #c81623
}

h4 {
    font-weight: 400;
}

button,
input {
    /* "\5B8B\4F53" 就是宋体的意思 这样浏览器兼容性比较好 */
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif
}

body {
    /* CSS3 抗锯齿形 让文字显示的更加清晰 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    color: #666
}

@media screen and (max-width:1024px) {
    html {
        font-size: 42.66px !important;
    }
}

@media screen and (min-width:1920px) {
    html {
        font-size: 80px !important;
    }
}

.hide,
.none {
    display: none
}


/* 清除浮动 */

.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0
}

.clearfix {
    *zoom: 1
}

body {
    background: url(../images/bg.jpg) no-repeat 0 0 / cover;
    /* background-size: cover; */
}

.viewport {
    display: flex;
    min-width: 1024px;
    max-width: 1920px;
    min-height: 780px;
    padding: 1.1rem .25rem 0;
    margin: 0 auto;
    background: url(../images/logo.png) no-repeat 0 0 / contain;
}

.viewport .column {
    flex: 3;
}

.viewport .column:nth-child(2) {
    flex: 4;
}


/* 公共面板样式 */

.panel {
    position: relative;
    border: 15px solid transparent;
    border-width: .6375rem .475rem .25rem 1.65rem;
    border-image-source: url(../images/border.png);
    border-image-slice: 51 38 20 132;
    margin-bottom: .25rem;
}

.panel h3 {
    font-size: .25rem;
    color: #fff;
    font-weight: 400;
}

.inner {
    position: absolute;
    top: -0.6375rem;
    left: -1.65rem;
    right: -0.475rem;
    bottom: -0.25rem;
    padding: 0.3rem .45rem;
}


/* 概览区域模块制作  */

.overview {
    height: 1.375rem;
}

.overview ul {
    display: flex;
    justify-content: space-between;
}

.overview ul h4 {
    font-size: .35rem;
    color: #fff;
    margin: 0 0 .1rem .06rem;
}

.overview ul span {
    font-size: .2rem;
    color: #4c9bfd;
}


/* 监控区域模块制作 */

.monitor {
    height: 6rem;
}

.monitor {
    height: 6rem;
}

.monitor .inner {
    padding: 0.3rem 0;
    display: flex;
    flex-direction: column;
}

.monitor .tabs {
    padding: 0 0.45rem;
    margin-bottom: 0.225rem;
    display: flex;
}

.monitor .tabs a {
    color: #1950c4;
    font-size: 0.225rem;
    padding: 0 0.3375rem;
}

.monitor .tabs a:first-child {
    padding-left: 0;
    border-right: 0.025rem solid #00f2f1;
}

.monitor .tabs a.active {
    color: #fff;
}

.monitor .content {
    flex: 1;
    position: relative;
    display: none;
}

.monitor .head {
    display: flex;
    justify-content: space-between;
    line-height: 1.05;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.15rem 0.45rem;
    color: #68d8fe;
    font-size: 0.175rem;
}

.monitor .marquee-view {
    position: absolute;
    top: 0.5rem;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.monitor .row {
    display: flex;
    justify-content: space-between;
    line-height: 1.05;
    font-size: 0.15rem;
    color: #61a8ff;
    padding: 0.15rem 0.45rem;
}

.monitor .row .icon-dot {
    position: absolute;
    left: 0.2rem;
    opacity: 0;
}

.monitor .row:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #68d8fe;
}

.monitor .row:hover .icon-dot {
    opacity: 1;
}

.monitor .col:first-child {
    width: 1rem;
}

.monitor .col:nth-child(2) {
    width: 2.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.monitor .col:nth-child(3) {
    width: 1rem;
}


/* 滚动 */

.marquee-view .marquee {
    animation: move 15s linear infinite;
}

@keyframes move {
    0% {}
    100% {
        transform: translateY(-50%);
    }
}


/* 鼠标经过停止 */

.marquee-view .marquee:hover {
    animation-play-state: paused;
}


/* 点位分布统计模块制作 */

.point {
    height: 4.25rem;
}

.point .chart {
    display: flex;
    margin-top: 0.3rem;
    justify-content: space-between;
}

.point .pie {
    width: 3.9rem;
    height: 3rem;
    margin-left: -0.125rem;
}

.point .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.1rem;
    padding: 0.45rem 0.375rem;
    box-sizing: border-box;
    background-image: url(../images/rect.png);
    background-size: cover;
}

.point h4 {
    margin-bottom: 0.15rem;
    font-size: 0.35rem;
    color: #fff;
}

.point span {
    display: block;
    color: #4c9bfd;
    font-size: 0.2rem;
}


/* 全国用户总量统计模块制作 */

.point .bar {
    width: 3.9rem;
    height: 3rem;
    margin-left: -0.125rem;
}