<script setup>
  import { ref } from 'vue'
  const name = ref('<%= data.name %>')
</script>

<template>
  <div class="<%= data.lowerName %>">
    <h1>{{ name }}</h1>
  </div>
</template>

<style scoped>
  .<%= data.lowerName %> {
  }
</style>
