* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica,Arial ;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.m-navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10.6667vw;
  align-items: center;
  background-color: aqua;
  padding: 0 3.2vw 0 4.8vw;
}
.m-navbar .logo i {
  color: #fb7299;
  font-size: 6.9333vw;
}
.m-navbar .right {
  display: flex;
}
.m-navbar .right a:nth-child(1) i {
  margin-top: 0.5333vw;
  margin-right: 5.8667vw;
  font-size: 5.8667vw;
  color: #ccc;
}
.m-navbar .right a:nth-child(2) {
  display: block;
  width: 6.4vw;
  height: 6.4vw;
  border-radius: 50%;
  overflow: hidden;
}
.m-navbar .right a:nth-child(3) {
  display: block;
  width: 19.2vw;
  height: 6.4vw;
}
